:root {
  --red-escuro: rgba(122,0,0,1);
  --red-claro: rgba(217,42,42,1);
  --backgroundRV: linear-gradient(90.1deg, var(--red-escuro) 8.1%, var(--red-claro) 74.4%);

  --cinza-claro: #25272c;
  --cinza-escuro: #111827;
  --backgroundBody: linear-gradient(90.1deg, var(--cinza-claro), var(--cinza-escuro));

  --text-color-white: #fff;
  --text-color-black: #000;
  --grid-color: #242e3d;

  --font-main: 'Poppins', sans-serif;
}

.interface
{   
  max-width: 1100px;
  margin: 0 auto;
}

header .interface 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 680px) {
  header .interface 
  {
    flex-direction: column;
    gap: 20px;
  }
}

/* --------- LOGO --------- */
.logo
{
    font-weight: 700;
    font-size: 1em;
    background-image: var(--backgroundRV);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo:hover
{
    transform: rotate(8deg); 
}