.main
{
    padding: 170px 0 170px 0;
    user-select: none;
}

.main .flex
{ 
    text-align: center;
    margin-bottom: 15px;
}

.txt_main h1
{
    font-weight: 500;
    font-size: 5em;
    background-image: var(--backgroundRV);
    
    /* A propriedade crucial: recorta o fundo para que ele apareça apenas onde há texto */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
}

.txt_main h3
{
    color: var(--text-color-white);
    margin: 10px 0;
    font-weight: 400;
}

.txt_main h4
{
    color: var(--text-color-white);
    margin: 10px 0;
    font-weight: 200;
}

.perfil_container
{   
    position: relative;
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    /* overflow: hidden; */
    display: inline-block; /* Para que o container se ajuste ao conteúdo */
    background-image: var(--backgroundRV);
    padding: 3px;
    box-sizing: border-box;

}

.perfil_img
{   
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha o círculo sem distorcer */
    border-radius: 50%;
    border: 3px solid #20232A;
    box-sizing: border-box;
}

.status_online {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #4CAF50;
    border-radius: 50%; 
    border: 3px solid #20232A; 
    transform: translate(25%, 25%); /* Ajusta a posição para que metade do ponto fique para fora */
    animation: pulsar 1.5s infinite ease-out;
}

@keyframes pulsar {
    0% {
        transform: translate(25%, 25%) scale(1); /* Posição normal, escala 100% */
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7); /* Sombra inicial transparente */
    }
    70% {
        transform: translate(25%, 25%) scale(1.1); /* Escala ligeiramente maior */
        box-shadow: 0 0 0 1px rgba(76, 175, 80, 0); /* Sombra se expande e fica transparente */
    }
    100% {
        transform: translate(25%, 25%) scale(1); /* Volta à escala normal */
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0); /* Sombra desaparece */
    }
}

.btn_contato
{
    display: flex;
    justify-content: center;
}

.btn_contato button
{
    margin-top: 40px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #9b0c0c;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--text-color-white);
}

.btn_contato button:hover
{
    background-color: #b11212;
    transform: scale(1.02);
}

.btn_social
{
    
    text-align: center;
    margin-top: 40px;
}

.btn_social button
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #2f3a4b;
    font-size: 25px;
    cursor: pointer;
    margin: 0 15px;
    transition: 0.2s;
}

.btn_social button:hover
{
    background-color: #9b0c0c;
    transform: scale(1.1);
}

.icon_white{
    color: #fff;
}

@media (max-width: 1024px) {

}

@media (max-width: 680px) {
    .txt_main h1
    {
        font-size: 3em;
    }

    .txt_main h3
    {
        margin: 15px 0;
        font-size: 1.2em;
    }

    .txt_main h4
    {
        margin: 15px 0;
        font-size: 1em;
    }
}

@media (max-width: 400px) {

}