.interface
{   
    /* usado para definir um quadrante longe das bordas */
    max-width: 1100px;
    margin: 0 auto;
}

.logo
{
    font-weight: 700;
    font-size: 1em;
    background-image: linear-gradient( 
        90.1deg, 
        rgba(122,0,0,1) 8.1%, 
        rgba(217,42,42,1) 74.4% 
    );
    
    -webkit-background-clip: text; /* Para navegadores baseados em WebKit (Chrome, Safari) */
    background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo:hover
{
    transform: rotate(8deg); 
}

header
{
    /* necessário para deixar afastado do topo e das laterais */
    padding: 20px;
    user-select: none;
}

header .interface 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a
{   
    /* estilizando os links do menu */
    color: #fff;
    text-decoration: none;

    /* o link originalmente é inline-level
    para ser estilizado com o transform ele 
    necessitaser inline-block */
    display: inline-block; 
    transition: 0.3s;
}

header ul a:hover
{
    color: #fff;
    transform: scale(1.05);
}

header nav ul
{   
    list-style-type: none;
}

header nav ul li
{
    /* separando os links do menu e configurando para usar transform */
    display: inline-block;
    padding: 0 30px;
}

.imagem_logo
{
    width: 100px;
}

.icon_theme{
    cursor: pointer;
    font-size: 25px;
    transition: transform 0.5s ease-in-out; 
}

.icon_theme:hover{
    transform: rotate(90deg); 
}