header
{
    padding: 20px;
    user-select: none;
}

header a
{   
    /* estilizando os links do menu */
    color: #fff;
    text-decoration: none;
    display: inline-block; 
    transition: 0.3s;
}

header ul a:hover
{
    transform: scale(1.05);
}

header nav ul
{   
    list-style-type: none;
}

header nav ul li
{
    /* separando os links do menu e configurando para usar transform */
    display: inline-block;
    padding: 0 30px;
}

.imagem_logo
{
    width: 100px;
}

.icon_theme{
    cursor: pointer;
    font-size: 25px;
    transition: transform 0.5s ease-in-out; 
}

.icon_theme:hover{
    transform: rotate(50deg); 
}

/* ---------------- RESPONSIVIDADE ---------------- */
@media (max-width: 680px) {
    header nav
    {   
        display: flex;
        flex-direction: column;
    }

    header nav ul li
    {   
        display: flex;
        padding: 0.5em;
    }
}