footer
{
    padding: 60px;
}


.flex
{
    justify-content: space-between;
    display: flex;
}

.line_footer
{
    padding: 20px 0;
    border-bottom: 2px solid #363941;
}

.imagem_logo
{
    width: 100px;
}

.btn_social button
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: #2f3a4b;
    font-size: 25px;
    cursor: pointer;
    margin: 0 15px;
    transition: 0.2s;
}

.btn_social button:hover
{
    background-color: #9b0c0c;
    transform: scale(1.1);
}

.copy{
    color: var(--text-color-white);
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
}

.down_footer
{
    padding: 20px 0;
}

.down_footer p i
{
    color: rgba(217,42,42,1);
    font-size: 22px;
    margin-right: 15px;
}

.down_footer p a
{
    color: var(--text-color-white);
    text-decoration: none;
}


@media (max-width: 500px) {
    .flex
    {
        flex-direction: column;
    }

    .btn_social
    {
        margin-top: 2em;
    }

    .down_footer p a
    {
        font-size: 0.8em;
    }

    .copy{
        font-size: 0.8em;
    }
}

@media (max-width: 352px) {
    .btn_social
    {
        margin:0;
        font-size: 15px;
    }
}