.projetos
{
    padding: 80px 4%;
    user-select: none;

}

.interface
{   
    /* usado para definir um quadrante longe das bordas */
    max-width: 1100px;
    margin: 0 auto;
}

.titulo
{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

.titulo span 
{
    background-image: linear-gradient( 
    90.1deg, 
    rgba(122,0,0,1) 8.1%, 
    rgba(217,42,42,1) 74.4% 
    );
    background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
}

.flex
{
    justify-content: space-around;
    margin-top: 40px;
    display: flex;
}

.img_port
{
    width: 280px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    /* necessário para que o overlay funcione */
    position: relative;
}

.img_port:hover
{
    background-position: 100% 100%;
}

.overlay
{
    /* neste momento a class overlay so vai trabalhar
    dentro da class img-port, por causa do position relative e absolute */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a1;
    border-radius: 40px;
    display: flex;
    /* centraliza na vertical */
    align-items: center;
    /* centraliza na horizontal */
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover
{
    opacity: 100;
}

.projetos button
{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #9b0c0c;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    /* background-image: linear-gradient( 
    90.1deg, 
    rgba(122,0,0,1) 8.1%, 
    rgba(217,42,42,1) 74.4% 
    ); */
}

.gap{
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    width: 100%;
}