/* Gerais */
.projetos
{
    padding: 80px 4%;
    user-select: none;

}

/* Titulos */
.titulo
{
    color: var(--text-color-white);
    font-size: 38px;
    text-align: center;
}

.titulo span 
{
    background-image: var(--backgroundRV);
    background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
}

/* ---------- GRID PRINCIPAL ---------- */

.grid 
{
  margin: 60px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas padrão */
  gap: 40px;
  justify-content: center;
  align-items: start;
}

.flex 
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_port
{
    width: 280px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    /* necessário para que o overlay funcione */
    position: relative;
}

.img_port:hover
{
    background-position: 100% 100%;
}

.overlay
{
    /* neste momento a class overlay so vai trabalhar
    dentro da class img-port, por causa do position relative e absolute */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a1;
    border-radius: 40px;
    display: flex;
    /* centraliza na vertical */
    align-items: center;
    /* centraliza na horizontal */
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color-white);
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover
{
    opacity: 100;
}

.projetos button
{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    background-image: var(--backgroundRV);
}

.gap
{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* Modal dos Resumos */
.modalFundo 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalConteudo 
{
  background-color: #fff;
  color: #222;
  width: 90%;
  max-width: 700px;
  padding: 2rem;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
  animation: aparecer 0.3s ease;
}

.modalConteudo h3 
{
  margin-bottom: 1rem;
}

.modalConteudo p 
{
  line-height: 1.6;
  font-size: 1rem;
}

.fechar 
{
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

@keyframes aparecer 
{
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* ---------- RESPONSIVIDADE ---------- */

@media (max-width: 1000px) {
  .grid {
    gap: 30px;
  }

  .img_port {
    width: 240px;
    height: 420px;
  }
}

@media (max-width: 920px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0 20px 0;
  }

  .img_port {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 0 20px 0 20px;
  }

  .titulo{
    font-size: 24px;
  }

  .flex{
    margin-top: 50px;
  }

  .gap button{
    font-size: 14px;
  }

  .modalConteudo 
  {
    background-color: #fff;
    color: #222;
    width: 80%;
    max-width: 80%;
    max-height: 90%;
    padding: 2rem;
  }

  .modalConteudo h3 
  {
    margin-bottom: .4rem;
    font-size: .8rem;
  }

  .modalConteudo p 
  {
    line-height: 1.6;
    font-size: 1rem;
  }

  .fechar 
  {
    font-size: .6rem;
  }
}