/* Gerais */
.sobre
{
    padding: 100px;
}

.flex
{ 
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: var(--grid-color);
    border-radius: 20px;
    padding: 60px 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    user-select: none;
}

/* Imagem */

.img_tag_sobre
{
    width: 250px;
    height: 250 px;
    border-radius: 30px;
    display: inline-block; /* Para que o container se ajuste ao conteúdo */
    background-image: linear-gradient(to right, rgba(122,0,0,1) 8.1%, rgba(217,42,42,1) 74.4%); /* Exemplo de gradiente */
    padding: 3px;
    box-sizing: border-box;
}

/* Titulo da Pagína */
.sobre h2
{
    font-size: 3em;
    line-height: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-color-white);
    user-select: none;
}

.sobre h2 span
{
    background-image: var(--backgroundRV);
    background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    user-select: none;
}

/* Informações dos parágrafos */
.destaque
{
    color: var(--text-color-white);
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.3em;
}


.descricao
{
    color: var(--text-color-white);
    text-align: justify;
}

.descricao span
{
    color: var(--red-claro);
}

.loc
{
    color: var(--text-color-white);
    margin-top: 20px;
}

/* Cards de Skills */
.grid_skills
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.grid_cards
{
    background-color: var(--grid-color);
    border-radius: 20px;
    margin: 20px;
    width: 100%;
    height: 180px;
    box-sizing: border-box;
    border: 1px solid #3f4753;
    cursor: pointer;
    transition: 0.5s;
}

.grid_cards:hover
{
    border: 1px solid var(--red-claro);
    box-shadow: 0 0 10px var(--red-escuro);
    transform: translateY(-5px);
    transition: transform 0.5s ease-out;
}

.grid_cards h4
{
    text-align: center;
    color: var(--text-color-white);
    margin: 20px 0 20px 0;
    font-weight: 400;
    font-size: 1.5em;
}

.grid_cards p
{
    text-align: center;
}

.grid_cards span
{
    font-size: 0.9em;
    padding: 5px 10px;
    margin: 5px;
    background-color: rgb(65, 19, 19);
    border-radius: 20px;
    color: rgb(230, 183, 183);
    display: inline-block;
}

/* Cards de Experiencias */
.grid_exp
{
    background-color: var(--grid-color);
    border-radius: 20px;
    margin: 50px 0 50px 0;
    box-sizing: border-box;
    border: 1px solid #3f4753;
    padding: 20px;

}

.grid_exp h4
{
    color: var(--text-color-white);
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 1.3em;
}

.grid_exp p
{
    color: #d7dff0;
    font-size: 1em;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 2;
}

.sub_title
{
    margin-top: 80px;
    margin-bottom: 80px;
}

.grid
{
    margin-top: 50px;
}

.info_exp
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info_exp h5
{
    color: var(--red-claro);
    font-weight: 400;
    font-size: 1.3em;
}

.info_exp p
{
    color: var(--text-color-white);
    font-size: 1em;
}