*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #000;
}

::-webkit-scrollbar{
    background-color: #000;
}

::-webkit-scrollbar-thumb
{
    background-color: #00ff08;
    border-radius: 10px;
}