*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
    background-image: var(--backgroundBody);
}

::-webkit-scrollbar{
    background-color: #1a243b;
}

::-webkit-scrollbar-thumb
{
    background-color: #2e3e63;
    border-radius: 5px;
}